{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    {{ group }} | eRegister
{% endblock title %}

{% block header %}
    {{ group }}
{% endblock header %}

{% block header_nav %}
{% include 'records/group/header_nav_group.html' %}
<script>
    $("#header-nav-assign-many").addClass("active");
</script>
{% endblock header_nav %}


{% block content %}
{% if form.non_field_errors %}
<div class="alert alert-danger">
{{ form.non_field_errors }}
</div>

{% endif %}
<div class="card bg-light mb-3"  style="max-width: 500px;">
    <form method="post">{% csrf_token %}
        <div class="card-body">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}" class="mt-2">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                <div class="form-text">
                    {{ field.help_text }}
                </div>
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endfor %}
            
            <div class="container-fluid text-end px-0 mt-3">
                <button type="submit" name="save" value="save" class="btn btn-success">Assign</button>
                <button type="submit" name="unsafe_add" value="unsafe_add" class="btn btn-outline-success">Assign (skip collissions)</button>
                <a href="{{ object.get_absolute_url }}" class="btn btn-outline-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        $("#id_date_start").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-3:+3",
            dateFormat: "yy-mm-dd",
            firstDay: 1
        });
        $("#id_date_end").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-3:+3",
            dateFormat: "yy-mm-dd",
            firstDay: 1
        });
        $('#id_students_to_add').select2();
    });
</script>
{% endblock content %}