{% extends 'base.html' %}

{% block title %}
    Groups | eRegister
{% endblock title %}

{% block header %}
    Groups
{% endblock header %}

{% block header_nav %}
{% include 'records/group/header_nav_list.html' %}
<script>
    $("#header-nav-list").addClass("active");
</script>
{% endblock header_nav %}


{% block content %}
{% include 'includes/pagination.html' %}
<div class="card bg-light mb-3">
    <div class="card-body">
        <div class="table-responsive">
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Educator</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr class="align-middle">
                    <th scope="row">
                        <a href="{{ group.get_absolute_url }}" class="text-decoration-none">{{ group.name }}</a>
                    </th>
                    <td>{{ group.educator }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'includes/pagination.html' %}
{% endblock content %}