<nav class="nav d-flex flex-column flex-md-row">
    <a id="header-nav-detail" class="nav-link fs-5 fw-bold" href="{% url 'group:detail' group.pk %}">{{ group }}</a>
    <a id="header-nav-assignments" class="nav-link" href="{% url 'group:assignments' group.pk %}">Assignments</a>
    <a id="header-nav-courses" class="nav-link" href="{% url 'group:courses' group.pk %}">Courses</a>
    <a id="header-nav-schedule" class="nav-link" href="{% url 'group:schedule' group.pk %}">Schedule</a>
</nav>
<nav class="nav nav-border-red d-flex flex-column flex-md-row">
    {% if perms.records.change_studentgroup %}
    <a class="nav-link text-danger dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
        <i class="bi bi-pencil"></i> Manage
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
            <a id="header-nav-update" href="{% url 'group:update' group.pk %}" class="dropdown-item">Edit information</a>
        </li>
        {% if perms.records.add_studentgroupassignment %}
            <li>
                <a id="header-nav-assign-many" href="{% url 'group:assign-many' group.pk %}" class="dropdown-item"></i>Assign students</a>
            </li>
        {% endif %}
        {% if perms.records.add_course %}
            <li>
                <a id="header-nav-create-course" href="{% url 'group:course-create' group.pk %}" class="dropdown-item"></i>Add course</a>
            </li>
        {% endif %}
        {% if perms.records.add_schedule %}
            <a href="{% url 'schedule:add' group.pk %}?prev={{ request.path }}" class="dropdown-item">Add schedule</a>
        {% endif %}
    </ul>
    {% endif %}
</nav>