<nav class="nav d-flex flex-column flex-md-row">
    <a id="header-nav-detail" class="nav-link" href="{% url 'group:detail' group.pk %}">Information</a>
    <a id="header-nav-assignments" class="nav-link" href="{% url 'group:assignments' group.pk %}">Assignments</a>
</nav>
<nav class="nav nav-border-red d-flex flex-column flex-md-row">
    {% if perms.records.add_studentgroupassignment %}
        <a id="header-nav-assign-many" href="{% url 'group:assign-many' group.pk %}" class="nav-link text-danger"><i class="bi bi-person-plus"></i>Assign</a>
    {% endif %}
    {% if perms.records.change_studentgroup %}
        <a id="header-nav-update" href="{% url 'group:update' group.pk %}" class="nav-link text-danger"><i class="bi bi-pencil"></i>Edit</a>
    {% endif %}
</nav>