{% extends 'base.html' %} 
{% load widget_tweaks %}

{% block title %}
    Schedule | eRegister
{% endblock title %}

{% block header_nav %}
{% include 'records/schedule/header_nav.html' %}
<script>
    $("#header-nav-group").addClass("active");
</script>
{% endblock header_nav %}

{% block content %}
<div class="card bg-light mb-3">
    <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
        <div class="card-header">
            Filter
        </div>
    </a>
    <div id="collapseFilter" class="card-body collapse show">
        <form method="post" class="row">{% csrf_token %}
            {{ form.non_field_errors }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="col-sm-6 mb-3">
                <label for="{{ form.teacher.id_for_label }}">{{ form.group.label }}</label>
                {{ form.group|add_class:'form-control' }}
                <div class="form-text">
                    {{ form.group.help_text }}
                </div>
                {% for error in form.group.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-sm-6 mb-3">
                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
                {{ form.date|add_class:'form-control' }}
                <div class="form-text">
                    {{ form.date.help_text }}
                </div>
                {% for error in form.date.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="container-fluid text-end px-2">
                <div class="form-check d-inline-block me-3">
                    {{ form.full_week|add_class:'form-check-input' }}
                    <label class="form-check-label" for="{{ form.full_week.id_for_label }}">{{ form.full_week.label }}</label>
                    <div class="form-text">
                        {{ form.full_week.help_text }}
                    </div>
                </div>
                <button type="submit" name="show" value="show" class="btn btn-primary">Show</button>
            </div>
        </form>
    </div>
</div>

{% if timetable %} 
<div class="card bg-light mb-3 table-responsive">
    {% include 'includes/timetable.html' %}
</div>
{% endif %}

<script>

    $(function () {
            $('#id_group').select2();
            $("#id_date").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-2:+2",
                dateFormat: "yy-mm-dd",
                firstDay: 1
            });
        });
</script>
{% endblock content %}