<a id="mark-empty" href="{% url 'ajax:mark-details' %}" class="mark-link btn btn-light btn-sm py-1 my-1 me-1 position-relative visually-hidden">
    <span class="symbol-placeholder"></span>
    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
        <span class="visually-hidden">New mark</span>
    </span>
</a>
<a id="mark-modified" href="{% url 'ajax:mark-details' %}" class="mark-link btn btn-light btn-sm py-1 my-1 me-1 position-relative visually-hidden">
    <span class="symbol-placeholder"></span>
    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-warning border border-light rounded-circle">
        <span class="visually-hidden">Modified mark</span>
    </span>
</a>