{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    {{ lesson.schedule.course }} | eRegister
{% endblock title %}


{% block header_nav %}
{% include 'records/lesson/header_nav_update.html' %}
<script>
    $("#header-nav-marks").addClass("active");
</script>
{% endblock header_nav %}


{% block content %}
{% if lesson.is_cancelled %}
<div class="alert alert-warning">
    Selected lesson was cancelled. 
    <a class="alert-link" href="#" data-bs-toggle="modal" data-bs-target="#restoreModal">Restore</a> it to modify subject and check attendance.
</div>
{% endif %}
<div class="card bg-light">
    <div class="card-header">Marks</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    {% for student, data in students.items %}
                        <tr class="student-row">
                            <td class="text-nowrap">
                                {{ forloop.counter }}. {{ student }}
                                {% if data.absent %} <span class="badge bg-danger ms-1">Absent</span> {% endif %}
                            </td>
                            <td class="w-100 py-0">
                                {% for mark in data.marks %}
                                    <a id="mark-{{ mark.pk }}" href="{% url 'ajax:mark-details' %}" class="mark-link btn btn-primary btn-sm py-1 my-1">{{ mark }}</a>
                                {% endfor %}
                                {% if perms.recors.add_mark %}
                                    <a id="student-{{ student.pk }}" href="#" class="mark-add-link btn btn-outline-primary btn-sm py-1 my-1"><i class="bi bi-plus-lg"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="markModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mark - Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div id="mark-spinner" class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="mark-details">

                </div>
            </div>
            <div class="modal-footer">
                {% if perms.recors.view_changehistory %}
                    <button class="btn btn-primary" data-bs-target="#markHistoryModal" data-bs-toggle="modal" data-bs-dismiss="modal">Show history</button>
                {% endif %}
                {% if perms.recors.change_mark %}
                    <button class="btn btn-outline-primary" data-bs-target="#markUpdateModal" data-bs-toggle="modal" data-bs-dismiss="modal">Change</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if perms.recors.view_changehistory %}
<div id="markHistoryModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mark - Changes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="mark-history">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#markModal" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if perms.recors.change_mark %}
<div id="markUpdateModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mark - Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="mark-change">
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if perms.recors.add_mark %}
<div id="markCreateModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mark - Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="mark-create">
                <form method="post" action="{% url 'ajax:mark-create-lesson' lesson.pk %}">{% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <label for="{{ field.id_for_label }}" class="mt-2">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    <div class="form-text">
                        {{ field.help_text }}
                    </div>
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endfor %}
            
                    <div class="container-fluid text-end px-0 mt-3">
                        <button id="create-mark-button" type="submit" name="save" value="save" class="btn btn-success">Save</button>
                        <a class="btn btn-primary" data-bs-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
  
<script src="{% static 'js/marks.js' %}"></script>
{% endblock content %}