{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    {{ lesson.schedule.course }} | eRegister
{% endblock title %}


{% block header_nav %}
{% include 'records/lesson/header_nav_update.html' %}
<script>
    $("#header-nav-marks").addClass("active");
</script>
{% endblock header_nav %}


{% block content %}
{% if lesson.is_cancelled %}
<div class="alert alert-warning">
    Selected lesson was cancelled. 
    <a class="alert-link" href="#" data-bs-toggle="modal" data-bs-target="#restoreModal">Restore</a> it to modify subject and check attendance.
</div>
{% endif %}
<div class="card bg-light">
    <div class="card-header">Marks</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    {% for student, data in students.items %}
                        <tr class="student-row">
                            <td class="text-nowrap">
                                {{ forloop.counter }}. {{ student }}
                                {% if data.absent %} <span class="badge bg-danger ms-1">Absent</span> {% endif %}
                            </td>
                            <td class="w-100 py-0">
                                {% for mark in data.marks %}
                                    <a id="mark-{{ mark.pk }}" href="{% url 'ajax:mark-details' %}" class="mark-link btn btn-primary btn-sm py-1 my-1">{{ mark }}</a>
                                {% endfor %}
                                {% if perms.recors.add_mark %}
                                    <a id="student-{{ student.pk }}" href="#" class="mark-add-link btn btn-outline-primary btn-sm py-1 my-1"><i class="bi bi-plus-lg"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include 'includes/mark_modals.html' %}

{% endblock content %}