{% extends 'base.html' %}

{% block title %}
    {{ lesson.schedule.course }} | eRegister
{% endblock title %}


{% block header_nav %}
{% include 'records/lesson/header_nav_update.html' %}
<script>
    $("#header-nav-marks").addClass("active");
</script>
{% endblock header_nav %}


{% block content %}
{% if lesson.is_cancelled %}
<div class="alert alert-warning">
    Selected lesson was cancelled. 
    <a class="alert-link" href="#" data-bs-toggle="modal" data-bs-target="#restoreModal">Restore</a> it to modify subject and check attendance.
</div>
{% endif %}
<div class="card bg-light">
    <div class="card-header">Marks</div>
    <div class="card-body">
        <ol class="list-group list-group-numbered">
            {% for student, data in students.items %}
            <li class="list-group-item student-row d-flex flex-nowrap">
                <div class="ms-2 me-auto">
                    <p class="my-0">
                        <strong class="text-nowrap">{{ student }}</strong>
                        {% if data.absent %} <span class="badge bg-danger ms-1">Absent</span> {% endif %}
                    </p>
                    <p class="my-1">
                        {% for mark in data.marks %}
                            <a id="mark-{{ mark.pk }}" href="{% url 'ajax:mark-details' %}" class="mark-link btn btn-light btn-sm py-1 my-1 me-1 position-relative">{{ mark }}</a>
                        {% endfor %}
                        {% if perms.records.add_mark %}
                            <a id="student-{{ student.pk }}" href="#" class="mark-add-link btn btn-outline-primary btn-sm py-1 my-1"><i class="bi bi-plus-lg"></i></a>
                        {% endif %}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>


{% include 'includes/mark_templates.html' %}
{% include 'includes/mark_modals_create.html' %}
{% include 'includes/mark_modals_details.html' %}

{% endblock content %}