{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    {{ lesson.schedule.course }} | eRegister
{% endblock title %}


{% block header_nav %}
{% include 'records/lesson/header_nav_update.html' %}
<script>
    $("#header-nav-marks").addClass("active");
</script>
{% endblock header_nav %}


{% block content %}
{% if lesson.is_cancelled %}
<div class="alert alert-warning">
    Selected lesson was cancelled. 
    <a class="alert-link" href="#" data-bs-toggle="modal" data-bs-target="#restoreModal">Restore</a> it to modify subject and check attendance.
</div>
{% endif %}
<div class="card bg-light">
    <div class="card-header">Marks</div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th scope="col">Student</th>
                        <th scope="col" class="w-100">Marks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student, data in students.items %}
                        <tr class="{% if data.absent %}table-danger{% endif %}">
                            <td>{{ forloop.counter }}</td>
                            <td class="text-nowrap">{{ student }}</td>
                            <td>
                                {% for mark in data.marks %}
                                    <span class="badge bg-secondary">{{ mark }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}